.filter {
  position: sticky;
  top: 80px;
  flex: 0.2;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  min-width: 210px;
  padding: 0 10px;
}

.filter-button {
  width: 100%;
}

.filter-item-logo {
  object-fit: contain;
  height: 20px;
  margin-right: 10px;
}

#nested-list-subheader {
  display: flex;
  align-items: center;
}

.filter-title {
  margin-left: 10px;
}

.price-container {
  margin-left: 16px;
}

.price-filter {
  display: flex;
  align-items: center;
}

.slider {
  margin-right: 16px;
}
