.filter {
  position: sticky;
  top: 80px;
  flex: 0.2;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 230px;
  width: 230px;
  max-width: 100%;
  padding: 0 10px;
  background-color: white;
}

.filter-button {
  width: 100%;
}

.filter-item-logo {
  object-fit: contain;
  height: 20px;
  margin-right: 10px;
}

#nested-list-subheader {
  display: flex;
  align-items: center;
}

.filter-title {
  margin-left: 10px;
}

.price-filter {
  display: flex;
  align-items: center;
}

.price-selector {
  display: flex;
  justify-content: space-between;
}

.price-min,
.price-max {
  width: 60%;
  min-width: 40px;
  margin: 10px 5px;
}

#price-min,
#price-max {
  height: 15px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .filter {
    position: relative;
    top: 0;
  }
}
