html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./components/assets/body_img.jpg");
}

.app-body {
  display: flex;
  margin-top: 10px;
}

#app-wrapper {
  height: 100vh;
  min-height: 100vh;
}

@media only screen and (max-width: 900px) {
  #app-wrapper {
    height: 100% !important;
    min-height: 100vh !important;
  }
}
