* {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./components/assets/body_img.jpg");
}

.app-about-body {
  padding: 10px;
}

#app-wrapper,
#app-about-wrapper {
  height: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  #app-wrapper,
  #app-about-wrapper {
    height: 100% !important;
    min-height: 100vh !important;
  }
}
